{% include './templates/header.php' %}
    
    <div class="btn-toolbar float-md-right" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form class="form-inline float-md-right" action="{{ urls.movie_add }}" method="POST">
                <div class="form-group">
                    <input class="form-control" name="imdbID" id="imdbID" type="text" placeholder="IMDB id">
                    <button type="submit" class="btn btn-secondary">Add movie</button>
                </div>
            </form>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <form class="form-inline float-md-right" action="{{ urls.movie_reload }}" method="POST">
                <button type="submit" class="btn btn-secondary">Reload movies</button>
            </form>
        </div>
    </div>
    
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    
    <hr class="featurette-divider">
    
    {% for movie in movies %}
        <div class="row featurette" id="{{ movie.id }}">

        {% if loop.index is divisible by(2) %}
            <div class="col-md-5 order-md-last order-first">
        {% else %}
            <div class="col-md-5 order-first">
        {% endif %}
                <img class="img-fluid" src="{{ movie.posterURL }}" alt="{{ movie.title }}">
            </div>

        {% if loop.index is divisible by(2) %}
            <div class="col-md-7 order-md-first order-last">
        {% else %}
            <div class="col-md-7 order-last">
        {% endif %}
                <h2 class="featurette-heading">
                    {{ movie.title }}
                    <form class="form-inline float-md-right" style="display:inline" action="{{ urls.movie_delete }}" method="POST">
                        <button type="submit" value="{{ movie.id }}" name="imdbID" class="btn btn-outline-danger btn-sm">Delete</button>
                    </form>
                </h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr><td>Stars</td><td>{{ movie.stars }}</td></tr>
                            <tr><td>Directors</td><td>{{ movie.directors }}</td></tr>
                            <tr><td>Genre</td><td>{{ movie.genres }}</td></tr>
                            <tr><td>Release</td><td>{{ movie.release }}</td></tr>
                            <tr><td>Runtime</td><td>{{ movie.runtime }} min</td></tr>
                            <tr><td>Countries</td><td>{{ movie.countries }}</td></tr>
                            <tr><td>Trailer</td>
                                <td>
                                    {% if movie.video is not empty %}           
                                        <a rel="nofollow" href="{{ movie.video }}" target="_blank">Trailer on Youtube</a>
                                    {% else %}
                                        Trailer could not be found
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="font-weight-light">{{ movie.plot }}</p>
            </div>
        </div>
        <hr class="featurette-divider">
    {% endfor %}

{% include './templates/footer.php' %}
